<style>
	.active {
		border: solid 1px red;
	}
	li {
		display: inline-block;
	}
</style>
<ul id='breeds'>
	<li><a href="#doberman">Doberman</a></li>
	<li><a href="#beagles">Beagles</a></li>
	<li><a href="#boxer">Boxer</a></li>
</ul>
<div id='doberman'>
	<img src='img/doberman.jpg' width="400px"/>
</div>
<div id='beagles'>
	<img src='img/beagle.jpg'/>
</div>
<div id='boxer'>
	<img src='img/boxer.jpg' width="400px"/>
</div>
<script src="my_jquery.js"></script>
<script src="my_tabs.js"></script>
<script>
	 $("#breeds").tabs();
</script>